---
#引入PHP运行环境元数据，并初始化
- include_vars: roles/role_php/vars/php_runtime_meta.yml

#Modify var for this playbook
- set_fact:
    owncloud_vhost_dir: "{{php_runtime_meta[ansible_os_family][owncloud_webs].vhost_dir}}"
    owncloud_vhost_src: "{{php_runtime_meta[ansible_os_family][owncloud_webs].vhost_src}}"
    owncloud_service: "{{php_runtime_meta[ansible_os_family][owncloud_webs].service}}"
    owncloud_owner: "{{php_runtime_meta[ansible_os_family][owncloud_webs].owner}}"
    owncloud_db_password: "{{mysql_root_password}}"

- debug:
    msg: runtime {{ owncloud_vhost_dir }}, {{owncloud_vhost_src}}, {{owncloud_service}}, {{owncloud_owner}}, {{owncloud_webs}}, {{ansible_distribution}}

# OwnCloud
- name: Remove OwnCloud dir for sec_installation
  shell: rm -rf /data/wwwroot/*{{owncloud_name}}*
  
- name: Download OwnCloud
  unarchive:
    src: "{{owncloud_download_url}}"
    dest: /data/wwwroot/
    remote_src: yes

- name: Rename dir name
  shell: cd /data/wwwroot; if [ ! -d "{{owncloud_name}}" ]; then mv *{{owncloud_name}}* {{owncloud_name}}; fi

- name: Create the occ Helper Script
  copy:
    src: occ
    dest: /usr/local/bin/occ
    mode: u+x,g+x,o+x

- name: Change directory ownership and group ownership
  shell: chown -R {{owncloud_owner}}:{{owncloud_owner}} /data/wwwroot

- name: Install OwnCloud (Automatically generate configuration files)
  shell: |
    occ maintenance:install \
    --database "mysql" \
    --database-name "owncloud" \
    --database-user "owncloud" \
    --database-pass "{{owncloud_db_password}}" \
    --admin-user "admin" \
    --admin-pass "admin"

- name: Configure public_ip as OwnCloud Domains 
  shell: |
    public_ip=`wget -O - https://download.websoft9.com/ansible/get_ip.sh | bash`
    occ config:system:set trusted_domains 1 --value="$public_ip"

- name: Configure Caching and File Locking
  shell: |
    occ config:system:set \
    redis \
    --value '{"host": "127.0.0.1", "port": "6379"}' \
    --type json

- name: Set Up a OwnCloud cron Job 
  cron:
    name: "Owncloud cron"
    minute: "*/15"
    hour: "*"
    day: "*"
    month: "*"
    weekday: "*"
    user: "{{owncloud_owner}}"
    job: "/data/wwwroot/owncloud/occ system:cron"

# 系统通用
- name: Permission directory
  shell: |
    find /data/wwwroot -type d -exec chmod 750 {} \;
    find /data/wwwroot -not -type d -exec chmod 640 {} \;

# 根据不同的基础环境分别处理
- block:
  - name: Copy Apache or Nginx vhost configuration
    template: src={{owncloud_vhost_src}} dest={{owncloud_vhost_dir}}
    
  - name: restart Apache or Nginx
    service: name={{owncloud_service}} state=restarted enabled=yes

  - name: restart php-fpm
    service: name=php-fpm state=restarted

# check version
- name: Check owncloud version
  shell: sudo echo  $(occ -Version) |sudo tee -a /data/logs/install_version.txt 
